<!--Registration Page-->
<!-- Import macros -->
{% from 'form_helper.html' import displayField %}

<!--Extend layout-->
{% extends "prelogin-layout.html" %}

<!--Content unique to this page-->
{% block title %}Registration {% endblock %}

{% block content %}
<div class="reg_title">
  <h2>Flask Chat</h2>
  <h3>Create your account</h3>
  <p>Register now to start chatting!</p>
  <hr>
</div>

  <!--Render validators-->
  <form action="{{ url_for('index')}}", method="POST">

    <div class="reg_label">
      {{ displayField(form.first_name, 'First name', autocomplete='off', placeholder="First name")}}
    </div>

    <div class="reg_label">
      {{ displayField(form.last_name, 'Last name', placeholder="Last name")}}
    </div>

    <div class="reg_label">
      {{ displayField(form.username, 'Username', placeholder="Username")}}
    </div>

    <div class="reg_label">
      {{ displayField(form.email, 'Email', placeholder="Email")}}
    </div>

    <div class="reg_label">
      {{ displayField(form.password, 'Password', placeholder="Password")}}
    </div>

    <div class="reg_label">
      {{ displayField(form.confirm_pswd, 'Retype Password', placeholder="Retype password")}}
    </div>

    <div class="form-group">
      <input type="submit" value="Register" class="btn btn-warning">
    </div>

    <!--use app's secret key-->
    {{ form.csrf_token }}
  </form>

  <hr>

  <p>Already have an account? <a href={{url_for('login')}}>Login here</a></p>
{% endblock %}
