{% from 'form_helper.html' import displayField %}

<!--Extend layout-->
{% extends "prelogin-layout.html" %}

<!--Content unique to this page-->
{% block title %}Registration {% endblock %}

{% block content %}
  <h1>Get started</h1>

  <!--Render validators-->
  <form action="{{ url_for('index')}}", method="POST">

    {{ displayField(form.username, 'Username', autocomplete='off', autofocus=true)}}

    {{ displayField(form.password, 'Password')}}

    {{ displayField(form.confirm_pswd, 'Retype Password')}}

    <div>
      {{ form.submit_button }}
    </div>

    <!--use app's secret key-->
    {{ form.csrf_token }}
  </form>
{% endblock %}
