<!--Registration Page-->

<!-- Import macros -->
{% from 'form_helper.html' import displayField %}

<!--Extend layout-->
{% extends "prelogin-layout.html" %}

<!--Content unique to this page-->
{% block title %}Registration {% endblock %}

{% block content %}
  <h1>Get started</h1>
  <p>First time here? Register to start using Rchat</p>

  <!--Render validators-->
  <form action="{{ url_for('index')}}", method="POST">

    <div class="reg_label">First name
      {{ displayField(form.first_name, 'First name', autocomplete='off')}}
    </div>

    <div class="reg_label">Last name
      {{ displayField(form.last_name, 'Last name')}}
    </div>

    <div class="reg_label">Username
      {{ displayField(form.username, 'Username')}}
    </div>

    <div class="reg_label">Email
      {{ displayField(form.email, 'Email')}}
    </div>

    <div class="reg_label">Password
      {{ displayField(form.password, 'Password')}}
    </div>

    <div class="reg_label">Password confirmation
      {{ displayField(form.confirm_pswd, 'Retype Password')}}
    </div>

    <div class="form-group">
      <input type="submit" value="Create" class="btn btn-warning">
    </div>

    <!--use app's secret key-->
    {{ form.csrf_token }}
  </form>

  <hr>

  <p>Already registered? <a href={{url_for('login')}}>Login here</a>.</p>
{% endblock %}
