{% from 'form_helper.html' import displayField %}
{% extends 'prelogin-layout.html' %}

{% block title %}Login {% endblock %}

{% block content %}
<div class="login">
  <h2>Flask Chat</h2>
  <h3>User Login</h3>
</div>
  <hr>

  <!--Go to route for login-->
  <form action="{{ url_for('login')}}" method="POST">

    {{ displayField(form.email, 'Email', autocomplete='off',
      autofocus=true, placeholder="Email")}}

    {{ displayField(form.password, 'Password', placeholder="Password")}}

    <div>
      <input type="submit" value="Login" class="btn btn-warning">
    </div>

    <!--use app's secret key-->
    {{ form.csrf_token }}
  </form>

  <hr>

  <p>New to Flask Chat? <a href={{url_for('index')}}>Create Account</a></p>

{% endblock %}
